<template>
  <q-card class="card" flat>
    <q-card-section>
      <form class="conversion" @submit.prevent="convert">
        <span class="text">Convert</span>
        <q-select
          v-model="baseCurrency"
          class="input input__select"
          hide-dropdown-icon
          outlined
          readonly
          :options="supportedCurrencies"
        >
          <q-tooltip>
            Different base currency is supported only with premium account.
          </q-tooltip>
        </q-select>
        <q-input
          v-model.number="amount"
          class="input input__number"
          outlined
          :disable="loading"
          :maxlength="12"
        />
        <span class="text">to</span>
        <q-select
          v-model="targetCurrency"
          class="input input__select"
          hide-dropdown-icon
          outlined
          :options="supportedCurrencies"
          :disable="loading"
        />
        <q-btn
          class="input input__button"
          color="primary"
          text-color="white"
          label="Convert"
          type="submit"
          unelevated
          :disable="loading"
          :loading="loading"
        />
      </form>
    </q-card-section>
    <q-card-section v-if="resultAmount" class="result">
      <q-inner-loading :showing="loading"/>
      {{ resultCurrency }} {{ resultAmount.toFixed(4).toLocaleString() }}
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useConvertMutation, useSupportedCurrenciesQuery } from 'src/graphql'
import { useResult } from '@vue/apollo-composable'

export default defineComponent({
  name: 'ConversionCard',
  setup () {
    const { result: supportedCurrenciesResult } = useSupportedCurrenciesQuery({})
    const supportedCurrencies = useResult(supportedCurrenciesResult)

    const amount = ref(10)
    const baseCurrency = ref('USD')
    const targetCurrency = ref('USD')
    const resultCurrency = ref<string | null>(null)
    const resultAmount = ref<number | null>(null)

    const { mutate, loading } = useConvertMutation({})
    const convert = async () => {
      const result = await mutate({
        input: {
          amount: amount.value,
          baseCurrency: baseCurrency.value,
          targetCurrency: targetCurrency.value,
        },
      })
      resultAmount.value = result?.data?.convert.convertedAmount ?? 0
      resultCurrency.value = result?.data?.convert.targetCurrency ?? null
    }

    return {
      // REFS
      supportedCurrencies,
      amount,
      baseCurrency,
      targetCurrency,
      loading,
      resultCurrency,
      resultAmount,
      // ACTIONS
      convert,
    }
  },
})
</script>

<style lang="scss" scoped>
@import 'src/css/quasar.variables';

.card {
  width: 100%;
  max-width: 900px;
}

.conversion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    padding: 0 16px;
    font-size: 24px;
    font-weight: normal;
    color: $dark;
  }

  .input {
    &__number {
      width: 100%;
    }

    &__select {
    }

    &__button {
      height: 56px;
    }
  }

  .input + .input {
    margin-left: 16px;
  }
}

.result {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: $primary;
}
</style>
