<template>
  <q-card class="card" flat>
    <q-card-section style="min-height: 58px">
      <q-inner-loading :showing="statisticsLoading" color="primary"></q-inner-loading>
      <div v-if="statistics" class="statistics">
        People already performed
        <span class="statistics--highlighted">{{ statistics.conversionsCount }}</span>
        conversions in total amount of
        <span class="statistics--highlighted">${{ statistics.totalConvertedInUSD }}</span>
        with popular currency being
        <span class="statistics--highlighted">{{ statistics.mostPopularCurrency || "none yet" }}</span>
        .
      </div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useStatisticsQuery } from 'src/graphql'
import { useResult } from '@vue/apollo-composable'

export default defineComponent({
  name: 'StatisticsCard',
  setup () {
    const { result: statisticsResult, loading: statisticsLoading } = useStatisticsQuery({
      pollInterval: 5000,
    })
    const statistics = useResult(statisticsResult)

    return {
      // REFS
      statisticsLoading,
      statistics,
    }
  },
})
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  max-width: 900px;
}

.statistics {
  font-size: 18px;
  font-weight: normal;
  color: $dark;
  text-align: center;

  &--highlighted {
    font-weight: bold;
    color: $primary;
  }
}
</style>
